__pycache__/
.ruff_cache/
.venv/
venv/
.env
.env.*

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
desktop.ini

output/
input/
temp/
test/
reference/
vmaf_models/
ffmpeg/
thirdpart/

*.log
*.cutree
*.json
*.nfo
*.mkv
*.mp4
*.m2ts
*.ts
*.avi
*.mov
*.iso
*.exe
*.dll
